# Server-side API key (used by server-side API routes)
EXH_AI_API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJhNzc3YjhjMC0wMzYzLTRjNzMtYTE0MS0wYjhlMDQ2YWM3MmEiLCJmaXJlYmFzZV91c2VyX2lkIjoiekg4QnpsZUhJOVhkcG9lZWFBRGVpcVBCV1AzMyIsImRldmljZV9pZCI6bnVsbCwidXNlciI6InpIOEJ6bGVISTlYZHBvZWVhQURlaXFQQldQMzMiLCJhY2Nlc3NfbGV2ZWwiOiJiYXNpYyIsInBsYXRmb3JtIjoid2ViIiwiYXBwIjoiYm90aWZ5IiwiZXhwIjoxNzYxMzIxOTE5fQ.K6knRF4GymNGsj_4CwERX1qCTWw4V-7y2OyuablcIsY
EXH_VIDEO_API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJhNzc3YjhjMC0wMzYzLTRjNzMtYTE0MS0wYjhlMDQ2YWM3MmEiLCJmaXJlYmFzZV91c2VyX2lkIjoiekg4QnpsZUhJOVhkcG9lZWFBRGVpcVBCV1AzMyIsImRldmljZV9pZCI6bnVsbCwidXNlciI6InpIOEJ6bGVISTlYZHBvZWVhQURlaXFQQldQMzMiLCJhY2Nlc3NfbGV2ZWwiOiJiYXNpYyIsInBsYXRmb3JtIjoid2ViIiwiYXBwIjoiYm90aWZ5IiwiZXhwIjoxNzYxMzIxOTE5fQ.K6knRF4GymNGsj_4CwERX1qCTWw4V-7y2OyuablcIsY
EXH_BOTIFY_TOKEN=<token>
X_AUTH_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJhNzc3YjhjMC0wMzYzLTRjNzMtYTE0MS0wYjhlMDQ2YWM3MmEiLCJmaXJlYmFzZV91c2VyX2lkIjoiekg4QnpsZUhJOVhkcG9lZWFBRGVpcVBCV1AzMyIsImRldmljZV9pZCI6bnVsbCwidXNlciI6InpIOEJ6bGVISTlYZHBvZWVhQURlaXFQQldQMzMiLCJhY2Nlc3NfbGV2ZWwiOiJiYXNpYyIsInBsYXRmb3JtIjoid2ViIiwiYXBwIjoiYm90aWZ5IiwiZXhwIjoxNzYxMzIxOTE5fQ.K6knRF4GymNGsj_4CwERX1qCTWw4V-7y2OyuablcIsY
VIDEO_DURATION=15
